@charset 'UTF-8';

//Colors
$blurple-bg: hsl(235, 86%, 65%);
$blurple-bg-light: hsl(235, 85%, 71%);
$blurple-bg-dark: hsl(235, 65%, 51%);
$white-bg-light: hsl(235, 52%, 88%);
$blue-secondary-light: hsl(237, 70%, 87%);
$blue-secondary-dark: hsl(236, 59%, 76%);

body {
  background: linear-gradient(145deg, #4f5bda, #5e6cff);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1000px;
}

@mixin center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.title-logo {
  @include center;
  top: -60px;
}

.title {
  position: relative;
  text-align: center;
  font-size: 172px;
  top: 120px;
  color: white;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.title2 {
  font-size: 122px;
  top: -40px;
  background: -webkit-linear-gradient(
    275deg,
    tint($blue-secondary-light, 20),
    shade($blue-secondary-dark, 10)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin box {
  @include center;
  top: 600px;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background: white;
  box-shadow: 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
}

.box,
.box2 {
  @include box;
}

.box2 {
  top: 900px;
  box-shadow: 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
}

.box:nth-of-type(1) {
  background: #5865f2;
  left: -1200px;
}

.box:nth-of-type(2) {
  background: linear-gradient(145deg, #4f5bda, #5e6cff);
  left: -600px;
}

.box:nth-of-type(3) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  left: 0;
}

.box:nth-of-type(4) {
  background: #5865f2;
  box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff;
  left: 600px;
}

.box:nth-of-type(5) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff,
    10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
  left: 1200px;
}
