/* Slightly lighten a color
@access public
@param {Color} $color - color to tint
@param {Number} $percentage - percentage of `$color` in returned color
@return {Color}*/
/*Slightly darken a color
@access public
@param {Color} $color - color to shade
@param {Number} $percentage - percentage of `$color` in returned color
@return {Color}*/
body {
  background: linear-gradient(145deg, #4f5bda, #5e6cff);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1000px;
}

.title-logo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -60px;
}

.title,
.title2 {
  position: relative;
  text-align: center;
}

.title {
  font-size: 172px;
  top: 120px;
  color: white;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.title:hover {
  color: #7781f5;
}

.title2 {
  font-size: 122px;
  top: -40px;
  background: -webkit-linear-gradient(275deg, #d2d4f7, #8e92cf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box, .box2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 600px;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background: white;
  -webkit-box-shadow: 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
          box-shadow: 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
}

.box2 {
  top: 900px;
  -webkit-box-shadow: 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
          box-shadow: 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
}

.box:nth-of-type(1) {
  background: #5865f2;
  left: -1200px;
}

.box:nth-of-type(2) {
  background: linear-gradient(145deg, #4f5bda, #5e6cff);
  left: -600px;
}

.box:nth-of-type(3) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  left: 0;
}

.box:nth-of-type(4) {
  background: #5865f2;
  -webkit-box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff;
          box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff;
  left: 600px;
}

.box:nth-of-type(5) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  -webkit-box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff, 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
          box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff, 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
  left: 1200px;
}

.box2:nth-of-type(6) {
  background: #5865f2;
  left: -1200px;
}

.box2:nth-of-type(7) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  left: -600px;
}

.box2:nth-of-type(8) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  left: 0;
}

.box2:nth-of-type(9) {
  background: #5865f2;
  -webkit-box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff;
          box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff;
  left: 600px;
}

.box2:nth-of-type(10) {
  background: linear-gradient(145deg, #5e6cff, #4f5bda);
  -webkit-box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff, 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
          box-shadow: inset 10px 10px 20px #4b56ce, inset -10px -10px 20px #6574ff, 10px 10px 20px #4b56ce, -10px -10px 20px #6574ff;
  left: 1200px;
}
/*# sourceMappingURL=style.css.map */