$blurple-bg: hsl(235, 86%, 65%);
$blurple-bg-light: hsl(235, 85%, 71%);
$blurple-bg-dark: hsl(235, 65%, 51%);
$white-bg-light: hsl(235, 52%, 88%);
$blue-secondary-light: hsl(237, 70%, 87%);
$blue-secondary-dark: hsl(236, 59%, 76%);